build --experimental_strict_action_env
build --sandbox_fake_username
# Block networking in tests.
build --modify_execution_info=TestRunner=+block-network

# Work around https://github.com/bazelbuild/bazel/issues/6293 by setting a
# dummy lcov.
coverage --test_env=LCOV_MERGER=/bin/true

build:changes --remote_cache=http://changes-worker-host:8000
build:changes --define svc.version-file=0
